@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../Fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gusto-Bold';
    src: url('../Fonts/Gusto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../Fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../Fonts/Montserrat-Bold.ttf') format('truetype');
}

body {
    font-family: 'Montserrat-Regular', sans-serif;
    background-image: url('../Images/bv_signupbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.forgot-form-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px; 
    gap: 20px; 
    background: #FFF0D9;
    border-radius: 15px;
    border: 8px solid #585D27;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.left-side {
    flex: 1; 
    padding-left: 10px;
}

.right-side {
    flex: 1.3; 
    padding: 30px;
}

h1 {
    text-align: left; 
    font-family: 'Gusto-Bold', sans-serif;
    color: #585D27;
    font-size: 70px; 
    margin-bottom: 20px; 
    padding-left: 10px;
    margin-top: 30px;
}

p {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 16px;
    color: #585D27;
    padding-left: 20px;
    text-align: justify;
    line-height: 1.5;
}

ul {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 16px;
    color: #585D27;
    text-align: justify;
    line-height: 1.5;
}

.input-field {
    padding: 10px;
    border: 3px solid #585D27;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular', sans-serif;
}

.input-field:hover,
.input-field:focus {
    border: 3px solid #A3C585;
    outline: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 8px; 
    display: block; 
    text-align: left; 
}

.form-group input[type="text"] {
    margin-top: 10px; 
}

.submit-button {
    padding: 10px;
    background-color: #585D27;
    color: white;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    margin: 0 auto;
    display: block;
    text-align: center; 
}

.submit-button:hover {
    background-color: #A3C585;
}

#error-messages {
    font-family: 'Montserrat-Regular', sans-serif;
    color: red;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    font-family: 'Gusto-Bold', sans-serif;
    color: #585D27;
}

label {
    font-weight: bold;
    color: #585D27;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 3px solid #585D27;
    border-radius: 8px;
    box-sizing: border-box;
}

select:hover,
select:focus,
input[type="text"]:hover,
input[type="text"]:focus {
    border: 3px solid #A3C585;
    outline: none;
}

@media only screen and (max-width: 480px) {
    body {
        overflow-x: hidden;
    }

    .signup-form-container {
        width: 90%;
    }

    .signup-button {
        width: 60%;
    }

    .input-field {
        font-size: 14px;
    }
}
