@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../Fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gusto-Bold';
    src: url('../Fonts/Gusto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../Fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../Fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Pogonia-extrabold';
    src: url('../Fonts/pogonia-extrabold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat-Regular', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--bg-color);
}

.header {
    background-color: var(--bg-color);
    height: 60px;
    position: relative;
    display: none; /* Hide the header by default */
    border-bottom: 3px solid var(--border-color);
}
  
.logo1 img {
    height: 40px; /* Adjust the logo height */
    max-width: 100%;
    object-fit: contain; /* Ensure it looks good in the space */
    margin-top: 10px;
    margin-left: 10px;
}
  
/* Hamburger Menu Button */
.hamburger-menu {
    font-size: 30px;
    color: var(--accent-color);
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: none; /* Hide the hamburger menu by default */
}
  
/* Navigation Menu */
.nav-menu {
    display: none; /* Hide the navigation menu by default */
    background-color: var(--accent-color);
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    padding-top: 50px;
    margin-top: 57px;
    text-align: center;
    z-index: 1000; 
}
  
.nav-menu ul {
    list-style-type: none;
    padding: 0;
}
  
.nav-menu ul li {
    padding: 10px;
}
  
.nav-menu ul li a {
    color: var(--svg-color);
    text-decoration: none;
    display: block;
    font-size: 20px;
}

.divider2 {
    grid-column: 1 / -1; /* Span across all columns */
    width: 80%;
    height: 1px;
    background-color: var(--svg-color); /* Set color for the divider */
    margin: 10px auto; /* Center horizontally and add vertical spacing */
}
  
.nav-menu ul li a:hover {
    background-color: var(--button-hover-bg-color);
    border-radius: 20px;
}
  
/* Show the header and menu on small screens */
@media (max-width: 768px) {
    .header {
      display: block; /* Show header on small screens */
    }
  
    .hamburger-menu {
      display: block; /* Show hamburger menu */
    }
  
    .nav-menu.active {
      display: block; /* Show the navigation menu when active */
    }
}
  
/* Hide the header and hamburger menu on larger screens */
@media (min-width: 769px) {
    .header {
      display: none; /* Hide the header */
    }
  
    .hamburger-menu {
      display: none; /* Hide the hamburger menu */
    }
  
    .nav-menu {
      display: none; /* Hide the navigation menu */
    }
}

.container {
    display: flex;
    height: 100vh;
    border: 3px solid var(--border-color);
    background-color: var(--bg-color);
}

.sidebar {
    width: 8%;
    background-color: var(--accent-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    list-style-type: none;
    width: 100%;
}

.menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.menu svg {
    height: auto;
}

.menu span {
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat-Bold', sans-serif; 
    margin-top: 5px;
    color: var(--svg-color);
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
    color: inherit; 
}

.menu a:hover {
    opacity: 0.8; 
}

.content {
    width: 92%;
    padding: 40px;
    background-color: var(--bg-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: auto;
}

/* Header container styles */
.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 30px;
}

.header-left {
    width: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-center {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-center h1 {
    font-family: 'Pogonia-extrabold', sans-serif;
    font-size: 50px;
    color: var(--h1-color);
}

.header-right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-img {
    max-width: 110px;
    height: auto;
}

.theme-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.theme-selector label {
    font-family: 'Montserrat-Regular', sans-serif;
    color: var(--text-color);
}

.theme-selector select {
    padding: 5px;
    font-family: 'Montserrat-Medium', sans-serif;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
}

.header-divider {
    border: none;
    border-top: 1px solid var(--accent-color); 
    margin: 10px 0;
}

.usersitinerary-img {
    max-width: 45%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: -15px;
}

.itinerary-output-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    background-color: var(--bg-color);
    border: 4px solid var(--border-color);
    border-radius: 15px;
    padding: 30px;
    align-items: flex-start;
    flex-wrap: wrap; /* Ensures the items wrap to the next row */
}

.itinerary-sample {
    background-color: var(--bg-color);
    padding: 20px;
    border: 4px dashed var(--border-color);
    border-radius: 15px;
    width: 49%;  /* Ensures two items per row */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: auto;
    flex-grow: 0;
}

.itinerary-sample h3 {
    font-family: 'Pogonia-extrabold', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--h1-color);
}

.itinerary-sample p {
    font-family: 'Montserrat-Regular', sans-serif;
    margin-bottom: 10px;
    color: var(--text-color);
}

h4 {
    font-size: 28px;
    font-weight: bold;
    color: var(--h1-color);
    margin-bottom: 20px;
}

.day-container {
    background-color: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex-grow: 0; 
    height: auto; 
}

.day-container h5 {
    font-size: 17px;
    font-weight: bold;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.time-slot {
    padding-left: 20px;
}

.time-slot p {
    font-size: 16px;
    margin: 5px 0;
    padding-left: 20px;
    position: relative;
    line-height: 2;
    color: var(--text-color);
}

.time-slot p::before {
    position: absolute;
    left: 0;
    font-size: 18px;
}

.itinerary-schedule {
    display: none;
}

.toggle-details-btn {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--svg-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat-Medium', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.toggle-details-btn:hover {
    background-color: var(--button-hover-bg-color);
}

.menu li.active {
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.800);
    padding: 5px;
}

.menu li.active span {
    color: var(--svg-color);
}

.menu li.active img {
    filter: brightness(1.2); 
}

.menu li:hover {
    background-color: var(--menu-hover-bg-color);
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.menu li:focus-within {
    outline: 2px solid var(--accent-color); 
    background-color: var(--menu-hover-bg-color); 
    border-radius: 8px;
}

.activity-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.activity-table th {
    border: 1px solid var(--border-color);
    padding: 8px;
    text-align: center;
    font-family: 'Montserrat-Bold', sans-serif;
    width: 50px; 
    word-wrap: break-word; 
    overflow: hidden; 
    background-color: var(--accent-color);
    color: var(--svg-color);
}

.activity-table td {
    border: 1px solid var(--border-color);
    padding: 8px;
    text-align: justify;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 15px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.activity-table tr:nth-child(even) {
    background-color: var(--menu-hover-bg-color);
}

.activity-table tr:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--svg-color);
}

.activity-table tr:hover td {
    background-color: var(--button-hover-bg-color);
    color: var(--svg-color);
}

@media screen and (max-width: 1280px) {
    .sidebar {
        width: 100px;
        display: block;
    }
    .container {
        display: flex;
    }
    .content {
        width: 100%;
        padding: 20px;
        height: auto;
    }
    .usersitinerary-img {
        max-width: 60%;
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 1024px) {
    .sidebar {
        width: 100px;
        display: block;
    }
    .container {
        display: flex;
    }
    .content {
        width: 100%;
        padding: 20px;
        height: auto;
    }
    .usersitinerary-img {
        max-width: 70%;
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .itinerary-sample {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 900px) {
    body, html {
        overflow: auto;
    }

    .sidebar {
        width: 100px;
        display: block;
    }
    .container {
        display: flex;
    }
    .content {
        width: 100%;
        padding: 20px;
        height: auto;
    }
    .usersitinerary-img {
        max-width: 80%;
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .itinerary-sample {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    body, html {
        overflow: auto;
    }
    .sidebar {
        display: none;
    }
    .container {
        display: block;
        border: none;
    }
    .content {
        width: 100%;
        padding: 20px;
        height: 100vh;
    }
    .usersitinerary-img {
        max-width: 90%;
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .itinerary-sample {
        width: 100%;
        margin-bottom: 20px;
    }
    .header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header-left, .header-center, .header-right {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
}