@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../Fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gusto-Bold';
    src: url('../Fonts/Gusto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../Fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../Fonts/Montserrat-Bold.ttf') format('truetype');
}

body {
    font-family: 'Montserrat-Regular', sans-serif;
    background-image: url('../Images/bv_signupbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: #FFF0D9;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 380px;
    border: 8px solid #585D27;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    margin-bottom: 5px;
}

.logo {
    max-width: 120px;
    width: 100%;  
}

h1 {
    text-align: center;
    font-family: 'Gusto-Bold', sans-serif;
    font-size: 55px;
    color: #585D27;
    margin: 10px 0; 
    padding: 0; 
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    color: #585D27;
}

.password-container {
    position: relative; 
    margin-bottom: 20px;
}

.password-container label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #585D27;
}

.password-container input {
    width: 100%;
    padding: 10px 40px 10px 10px; 
    font-size: 16px;
    border: 2px solid #585D27;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    background: #FFF;
    color: #333;
    font-family: 'Montserrat-Regular', sans-serif;
}

.password-container input:focus {
    border-color: #2B2414;
}

.password-container i {
    position: absolute;
    top: 70%;
    right: 10px; 
    transform: translateY(-50%);
    color: #585D27;
    font-size: 18px;
    cursor: pointer;
    user-select: none; 
}

button {
    padding: 10px;
    background-color: #585D27;
    color: white;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    display: block; 
    text-align: center; 
}

button:hover {
    background-color: #A3C585;
}


